In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [57]:
#Datasets:
highest_daily_rainfall = pd.read_csv('data/rainfall-monthly-highest-daily-total.csv')
no_of_rain_monthly = pd.read_csv('data/rainfall-monthly-number-of-rain-days.csv')
total_monthly_rainfall = pd.read_csv('data/rainfall-monthly-total.csv')
mean_relative_humidity = pd.read_csv('data/relative-humidity-monthly-mean.csv')
sunshine_duration = pd.read_csv('data/sunshine-duration-monthly-mean-daily-duration.csv')
surface_air_temp = pd.read_csv('data/surface-air-temperature-monthly-mean.csv')
wet_bulb_temp = pd.read_csv('data/wet-bulb-temperature-hourly.csv')
profile = pd.read_excel('data/tourism-industry-profile-monthly.xlsx', sheet_name = 'T1')

In [58]:
#This project will only focus on 10 years trends starting from pre-COVID19 period [Jan 2009 to Dec 2019]
profile_10 = profile.loc[:, '2019 Dec':'2009 Jan']
profile_10 = pd.concat([profile.iloc[:,0], profile_10], axis=1)
#To look at general trends by regions (a group of countries)
profile_by_region = profile_10.iloc[[1, 10, 15, 25, 32, 36, 52, 56], :]
profile_by_region = profile_by_region.rename({'Data Series':'Year-Month'}, axis = 1)
profile_by_region = profile_by_region.T 
profile_by_region.columns = profile_by_region.iloc[0]
profile_by_region = profile_by_region[1:]

In [59]:
highest_daily_rainfall

       month  maximum_rainfall_in_a_day
0    1982-01                       36.5
1    1982-02                        9.4
2    1982-03                       61.7
3    1982-04                       45.1
4    1982-05                       33.0
..       ...                        ...
486  2022-07                       27.8
487  2022-08                       32.4
488  2022-09                       38.2
489  2022-10                       38.8
490  2022-11                       53.0

[491 rows x 2 columns]

In [97]:
def convert_date(the_df, month_col):
    monthdict = {'-01':' Jan', '-02':' Feb', '-03':' Mar', '-04':' Apr', '-05':' May', '-06':' Jun', '-07':' Jul','-08':' Aug', '-09':' Sep', '-10':' Oct', '-11':' Nov', '-12':' Dec'}
    the_df[month_col] = the_df.replace({month_col:monthdict}, regex=True)[month_col]
    return the_df

In [100]:
convert_date(highest_daily_rainfall, 'month')

        month  maximum_rainfall_in_a_day
0    1982 Jan                       36.5
1    1982 Feb                        9.4
2    1982 Mar                       61.7
3    1982 Apr                       45.1
4    1982 May                       33.0
..        ...                        ...
486  2022 Jul                       27.8
487  2022 Aug                       32.4
488  2022 Sep                       38.2
489  2022 Oct                       38.8
490  2022 Nov                       53.0

[491 rows x 2 columns]

In [40]:
profile_by_region

Year-Month,Southeast Asia,Greater China,North Asia,West Asia,Americas,Europe,Oceania,Africa
2019 Dec,662907,342199,118932,14757,100218,189183,134070,16335
2019 Nov,565680,319671,125534,12438,82972,179959,100883,7472
2019 Oct,555996,331072,136707,12276,68654,164050,112052,6697
2019 Sep,511664,318888,132515,11778,64342,159864,127327,7961
2019 Aug,520958,499809,173762,22847,71328,203813,99796,8289
...,...,...,...,...,...,...,...,...
2009 May,286750,86145,51730,7251,33982,82992,68000,5007
2009 Apr,292558,128044,53014,7817,36347,108721,72719,6044
2009 Mar,283896,125937,67628,14730,41421,130029,60594,5570
2009 Feb,231174,113312,70257,7176,35014,116089,56345,4438
2009 Jan,243584,145972,63943,7109,38044,116663,88918,6874

In [30]:
profile_by_region.plot()

TypeError: no numeric data to plot